<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AuthenCard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cidclaim" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> สแกนบัตร
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/getvisit" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> เปิด visit
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/getalldoctor" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> รายชื่อหมอทั้งหมด
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/getonedoctor" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ค้นหารายชื่อหมอ
            </NavLink>
        </div>

    </nav>
</div>

